// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #062f4f;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$black: #000000;
$light-gray: #F4F4F4;
$gray: #999999;
$red: #B82601;
$purple: #813772;
$grey: #666666;
