<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= im %>);">
  <div class="card-header">
    <div class="card-description">
      <h2><%= cocktail.name %></h2>
      <p>Number of ingredients: <%= cocktail.doses.count %></p>
    </div>
  </div>
  <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
</div>
