<% content_for(:title) do %>
  Cocktails Menu
<% end -%>

<div class="show-header">
  <h2>Cocktails Menu</h2>
</div>
<div class="row">
  <% @cocktails.each do |c| %>
    <div class="col-xs-12 col-sm-3">
      <%= render "cocktail", cocktail: c %>
    </div>
  <% end -%>
</div>
