<% content_for(:title) do %>
  <% @cocktail.name %>
<% end -%>

<%= render "show_banner", cocktail: @cocktail %>

<table class="table" style="margin-top: 20px; border: none;">
  <tr>
    <td><strong>Ingredients</strong></td>
    <td><strong>Description</strong></td>
    <td></td>
  </tr>
  <% @cocktail.doses.each do |i| %>
    <tr>
      <td><%= Ingredient.find(i.ingredient_id).name %></td>
      <td><%= i.description %></td>
      <td><%= link_to "Delete Ingredient", dose_path(i), method: :delete, confirm: "Are you sure?", class: "btn btn-success" %></td>
    </tr>
  <% end -%>
</table>
