.vertical-divide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-dose-image {
  height: 368px;
  width: 100%;
  margin-left: 100px;
  background-size: cover;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
