.btn-black {
  background-color: $tan;
  color: $purple !important;
}

.btn-black:hover {
  background-color: $black;
  color: $purple !important;
}

.btn-success {
  color: $tan;
}

.btn-success:hover {
  color: black;
  background-color: lighten($purple, 0.2)
}
